.App {
  text-align: center;
}

.App:before {
  z-index: -5;
  content: "";
  position: fixed;
  background-color: #FFCD00;
  height: 400px;
  width: 150vw;

  top: -100px;
  left: -20%;
  transform : rotate(-30deg);
}

.App:after {
  z-index: -5;
  content: "";
  position: fixed;
  background-color: #004B87;
  height: 400px;
  width: 150vw;

  top: 500px;
  left: -20%;
  transform : rotate(-30deg);
}

#welcome {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: auto auto -20% auto;
}

#welcome h1 {
  font-size: 4em;
  font-weight: bold;
}

#welcome h2 {
  font-size: 2em;
  font-weight: bold;
}

.slant {
  position: relative;
  width: 1000%;
  height: 600px;
  left: -500%;
  top: 1000px;

  z-index: -1;
  background: #FFCD00;
  transform: rotate(-50deg);
}
.slant:after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 600px;
  top: 900px;
  left: -50%;

  background: #004B87;
}