.item {
    margin: 0 auto 20% auto;
    width: 1000px;
    height: 250px;
    padding-top: 270px;
}

.item .left {
    display: inline-block;
    position: relative;
    background-color: #c4c4c4;
    top: -50px;
    height:100%;
    width: 70%;
}

.item .right {
    display: inline-block;
    position: relative;
    top: 10px;
    margin: auto;
    height:100%;
    width: 30%;
}


.item .about {
    height: 65%;
    width: 95%;
    margin: 0 auto;
    position: relative;
} .item .about p {
    padding: 20px;
    text-align: left;
}

.item .more {
    height: 25%;
    width: 95%;
    margin: 0 auto;
    position: relative;
} .item .button {
    position: relative;
    left: -20%;
    text-decoration: underline;
    color: black;
    font-size: 130%;
}

.item .pfp {
    border-radius: 50%;
    position: relative;
    top: -23px;
    border: 4px solid white;
}

.item .name {
    position:relative;
    border-radius: 50px;
    top: 30px;
    margin: auto;
    z-index: 1;
    background-color: white;
    font-size: 200%;
    width: 250px;
}