header {
    z-index: 2;
    background-color: white;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #525252;
    width: 100%;
    height: 60px;
}

header .logo {
    position: absolute;
    top: 6px;
    left: 20px;
    font: 40px Roboto;
    color: #525252;
}

header .menuButton{
    visibility: visible;
    position: absolute;
    top: 17px;
    right: 20px;
    height: 27px;
    width: 30px;
    cursor: pointer;
    background-color: white;
}

header .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: black;
    z-index: 1;
}

/* this is a hamburger menu */
header .hamburger {
    position: relative;
    height: 4px;
    width: 100%;
    top: 12px;
    background-color: #525252;
}

header .hamburger:before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #525252;
}

header .hamburger:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #525252;
}
